extend sharedprops/_master
block styles
    style.
        h1{text-align:center;
            padding-top:50px;}
        label{color:white;
            font-size:20px;}
        form{
            padding-top:50px;
            padding-right:150px;
            padding-left:150px;
        }
        

block body
    h1
        | Add a Team
    form(method='POST', action='/teams/add')
        .form-group
            label Team:
            input.form-control(name='title', type='text' placeholder='enter a team name')
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
        .form-group
            label Coach:
            input.form-control(name='coach', type='text' placeholder='enter the coach name')
        .form-group
            label Continent:
            input.form-control(name='continent', type='text' placeholder='choose continent')
        
        
        button.btn.btn-primary(type='submit') Save Team