extend sharedprops/_master

block styles
    style.
        h1{
            text-align:center;
        }

block body
    
        h1
            | Russia 2018
        .news
            h3
                |Latest News:
            li
                a(href="/argI")
                    //img(border='0', alt='W3Schools', src='../static/images/icardi1.jpg', width='300', height='300')
                    |Icardi to miss the World Cup
            li
                a(href="/lord")
                    |Lord Bendtner is fit to play
            li
                a(href="/favourites")
                    |Are Brazill the favourites this year ?
            li
                a(href="/grstage")
                    |Will Germany break the curse and pass the group stage?