extend sharedprops/_master

block styles
    style.
        h1{text-align: center;}
        p{color: white;}
        li{font-size:20px}

        .teams{
            padding-right:150px;
            padding-left:150px;
        }

        .table{
            background-color:white;
            
        }

block body
    h1
        | Qualified Teams
    .teams
       
            br
            br
            for team, i in teams
                //li= team.title
                //a(href="/teams/"+team._id) = team.title
                table.table
                    thead
                    tr
                        th(scope='col') #
                        th(scope='col') Team
                        th(scope='col') Coach
                        th(scope='col') Continent
                    tbody
                        tr
                            th(scope='row') 
                            td= team.title
                            td= team.coach
                            td= team.continent
                        