extend sharedprops/_master

block styles
    style.
        h1{text-align: center;
            padding-top:50px;}
        p{color: white;}
        li{font-size:20px}

        .teams{
            padding-top:50px;
            padding-right:150px;
            padding-left:150px;
        }

        .table{
            background-color:white;
            
        }

block body
    h1
        | Qualified Teams
    .teams
       table.table
       
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Team
                    th(scope='col') Coach
                    th(scope='col') Continent
            tbody
            for team, i in teams
                tr
                    th(scope='row') 
                    td= team.title
                    td= team.coach
                    td= team.continent
                        