h1 {
    text-transform: uppercase;
    color: #FFFAFA;
    font-family: Impact, Charcoal, monospace;
    padding-top: 20px;
    
    
}

.nav {
    background-color:#FF4136; 
    color: white;
    width: 100%;
    justify-content: space-around;
    
}

.nav ul {
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav ul li {
    border-left: 1px solid #ccc;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 0;
    
}

.nav ul li:last-of-type {
    border-right: 1px solid #ccc;
}

.nav a {
    color: white;
    display: inline-block;
    padding: 10px 25px;
}

.nav a:hover {
    background-color:lightblue;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
body {
   background-image: url("../images/finalpr_background.jpg");
   
   
}


li{
    color: red;
}
a{
    color: white;
}
h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
p{
    color: #F1684E;
}

.news{
    padding-top: 60px;
    text-align: center;
    justify-content: center;
}