mixin nav
    nav
        ul
            li
                a(href='/')
                    | Home
            li
                a(href='/teams')
                    | Teams
           
            
            li
                    a(href='/auth/sign-up')
                        | Sign up
            li
                    a(href='/auth/sign-in')
                        | Sign in