extend ../sharedprops/_master


block styles
    style.
        h1   {text-align: center;}
        p    {color: white;}
        
        .icardi{
                padding-top: 150px;
                padding-left: 500px;
                padding-right:500px;
                text-align: center;
                justify-content: center;
                
                
                }
        img{
            padding-top:150px;
            border-radius: 100px;
            padding-left: 60px;
            padding-right: 60px;
            
            
                
           }
       
        
        



block body

        h1
            |FIFA World Cup 2018: Inter Striker Mauro Icardi Left Out Of Argentina Squad
        .icardi2
            img(id="icar1",src='../../static/images/icardi1.jpg', alt='Icardi', align='left',height="420" width="450" )
            img(id="icar2",src='../../static/images/icardi2.jpg', alt='Icardi', align='right',height="420" width="450" )
        

        
        .icardi    
            
            p
                |Inter Milan striker Mauro Icardi, the joint-leading scorer in Italy this season, was a notable omission from Argentina's 23-man World Cup squad named by coach Jorge Sampaoli on Monday.
                | Icardi scored his 29th Serie A goal of the season on Sunday as Inter pipped Lazio to a Champions League place, but he was one of 12 players cut from a provisional 35-man squad revealed last week. The 25-year-old made his Argentina debut in October 2013 but spent four years in international exile before he was recalled last September for the final four World Cup qualifiers. Two-time champions Argentina reached the final in Brazil in 2014, losing to Germany 1-0 after extra time, and will again look to Barcelona superstar Lionel Messi for inspiration in what may well be his last World Cup.
        
                |The five-time Ballon d'Or recipient heads a potent attacking line-up that includes Juventus pair Paulo Dybala and Gonzalo Higuain, as well as Manchester City's Sergio Aguero. "The goal is to have a great World Cup. We're going to be very competitive. We're going to bank on an attacking game," Sampaoli told a press conference at the national team's training base in Ezeiza, near Buenos Aires.
        
                
                

