extend ../sharedprops/_master

block styles
    style.
        h1{text-align: center;}
        p{color: white;}

        .brzill{
                padding-top: 150px;
                padding-left: 500px;
                padding-right:500px;
                text-align: center;
                justify-content: center;
                }
        #ney{
            border-radius: 20%;
        }

block body
    h1
        | Brazil World Cup 2018 squad and team guide
    .brzill
        p
            |Brazil are one of the favourites of the 2018 FIFA World Cup, and Tite's team is full of world-class players. As such, the coach will have some tricky decisions to make. Here is how the Selecao could line up in Russia.
        p
            |The five-time World Cup champions have been drawn in Group E, alongside Switzerland, Costa Rica and Serbia.
        p
            |Tite still has two more friendlies, against Croatia and Austria, to find his preferred starting line-up, and the first headache he will need to solve is who his No. 1 goalkeeper will be.
        p
            |In Manchester City's Ederson and AS Roma's Alisson, he has two world-class options, but in recent games the latter seemed the preferred choice.

        img(id="ney",src='../../static/images/neyney.jpg', alt='Icardi', align='center',height="420" width="690" )

