extend ../sharedprops/_master

block styles
    style.
        h1{text-align:center;}
        p{color:white;}
        .grmany{
                padding-top: 120px;
                padding-left: 500px;
                padding-right:500px;
                text-align: center;
                justify-content: center;
        }
        #chgr{
            border-radius:10%;
        }

        
block body
    h1
        | How Germany could look at the 2018 World Cup
    .grmany
        h3
            | The 2014 champions will be looking to repeat that success in Russia, and they have the squad to do it.

        img(id="chgr",src='../../static/images/germany-champion-2014.jpg', alt='Icardi', align='center',height="420" width="690" )
        
        p
            |Compiling the best-ever World Cup qualifying campaign by a European team, Germany were absolutely ruthless, winning all 10 of their games and ending up with a gargantuan goal-difference of +39. 
        p
            | Coach Joachim Low would have been especially pleased with the way his team shared the goals out, with no fewer than 21 players on the scoresheet.
        p
            |Keeper Manuel Neuer makes his bow as captain, while Thomas Muller ends a 10-month international goal drought in a 3-0 win over Norway.
        p
            |A 2-0 win in Hanover against Northern Ireland makes it three wins out of three, courtesy of goals from Julian Draxler and Sami Khedira.