extend ../sharedprops/_master


block styles
    style.
        h1   {text-align: center;}
        p    {color: white;}

        .bendtner{
            padding-top: 150px;
            padding-left: 500px;
            padding-right:500px;
            justify-content: center;   
            }
 



block body
    h1
        |FIFA World Cup 2018: Nicklas Bendtner race against time 

    .bendtner
        p
            |   Stockholm
            | : Danish striker Nicklas Bendtner has been warned he will not be going to the World Cup in Russia if he fails to recover in time from a thigh injury suffered while playing for Rosenborg in the Norwegian league.
        p
            | Bendtner limped off with a thigh injury on Sunday and on Monday was warned by Denmark coach Age Hareide that only fit players would be travelling to the finals.
        p
            | "If a player is injured at the moment we leave for the World Cup, he's not coming to Russia," Hareide told a press conference.
        P
            | "He (Bendtner) is being examined," Hareide said. "It's never good to fight the clock. We do not have much time."
        <img class="size-full wp-image-4486575" src="https://images.firstpost.com/wp-content/uploads/2018/05/RTX3MRMJ_opt-1.jpg" alt="File image of Nicklas Bendtner. Reuters" width="380" height="285">